.exercise-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    transition: transform 0.2s;
}

.exercise-card:hover {
    transform: translateY(-5px);
}

.exercise-image {
    height: 200px;
    object-fit: contain;
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.exercise-card-link {
    text-decoration: none;
    color: inherit;
}