/* Padding to ensure navbar doesn't hide other components */
.content-with-navbar {
  padding-top: 20px;
}

/*Google font imported*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

/* Set Fira Sans as the primary font for the entire application */
body {
    font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #eae4e4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  padding-bottom: 50px; /* Add padding to the bottom of the body */
}